@charset "utf-8";
サイバーセキュリティ

body {
	font-family: sans-serif;
        line-height: 1.5;
	color: black;
	margin-top: 1;
	padding: 10px;
}
h1 {
	font-size: 30px;
	font-weight: bold;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 15px;
}
.headline {
	text-align: center;
}
p {
	text-align: justify;
}
.important {
	color: #0000FF;
}


