@charset "utf-8";
title {
font-size: 18;
}
p {
margin:0;
}
.info {
        font-size:10;
	list-style-type: none;
}
b {
font-size:8;
}
h2 {
font-size:7;
}
.profile {
padding: 10px;
border: 1px solid #095cdc;
}
.profile h2 {
	font-size:10;
	margin-top: 0;
	margin-bottom: 0;
}
